:root {
   --white: #fff;
   --black: #000;
   --primary-color: #e34d73;
   --text-color: #171a1f;
   --border-color: #f3f3f4;
   --green: #50d75b;
}

* {
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.btn {
   border: none;
   padding: 0;
   border-radius: 4px;
}
